[Introduction to SQLAlchemy at PyCon 2013](https://www.youtube.com/watch?v=woKYyhLCcnU&t=175s)

### Engine / Connection / Transaction

In [1]:
# !conda install -c conda-forge mysql-connector-python
# !conda install sqlalchemy flask
# !sudo apt install mysql-server
# !sudo service mysql start
# !sudo service mysql status
# !sudo mysql -u root -p

In [2]:
# CREATE USER 'jake'@'localhost' IDENTIFIED BY '0000';
# GRANT ALL ON *.* TO 'jake'@'localhost' WITH GRANT OPTION;
# CREATE DATABASE test;

In [18]:
# config.py
db = {
    'user'     : 'jake',		# 1)
    'password' : '0000',		# 2)
    'host'     : 'localhost',	# 3)
    'port'     : 3306,			# 4)
    'database' : 'mysql'		# 5)
}

DB_URL = f"mysql+mysqlconnector://{db['user']}:{db['password']}@{db['host']}:{db['port']}/{db['database']}?charset=utf8"
# DB_URL = f"mysql+mysqlconnector://{db['user']}:{db['password']}@{db['host']}:{db['port']}?charset=utf8"

In [19]:
from sqlalchemy import create_engine, text

In [20]:
engine = create_engine(DB_URL, encoding = 'utf-8', max_overflow = 0)

In [21]:
engine.table_names()

/tmp/ipykernel_2102/4162273999.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['columns_priv',
 'component',
 'db',
 'default_roles',
 'engine_cost',
 'func',
 'general_log',
 'global_grants',
 'gtid_executed',
 'help_category',
 'help_keyword',
 'help_relation',
 'help_topic',
 'innodb_index_stats',
 'innodb_table_stats',
 'password_history',
 'plugin',
 'procs_priv',
 'proxies_priv',
 'replication_asynchronous_connection_failover',
 'replication_asynchronous_connection_failover_managed',
 'replication_group_configuration_version',
 'replication_group_member_actions',
 'role_edges',
 'server_cost',
 'servers',
 'slave_master_info',
 'slave_relay_log_info',
 'slave_worker_info',
 'slow_log',
 'tables_priv',
 'time_zone',
 'time_zone_leap_second',
 'time_zone_name',
 'time_zone_transition',
 'time_zone_transition_type',
 'user']

In [22]:
engine

Engine(mysql+mysqlconnector://jake:***@localhost:3306/mysql?charset=utf8)

In [23]:
result = engine.execute(
    'select User from user'
)

rows = result.fetchall()

print(rows)
type(rows)

[('debian-sys-maint',), ('jake',), ('mysql.infoschema',), ('mysql.session',), ('mysql.sys',), ('root',)]

list

In [24]:
result = engine.execute(
    'select User from user'
)

row = result.fetchone()

print(row)
type(row)

('debian-sys-maint',)

sqlalchemy.engine.row.LegacyRow

In [25]:
result = engine.execute(
    'select User from user'
)

rows = result.fetchmany(3)

print(rows)
type(rows)

[('debian-sys-maint',), ('jake',), ('mysql.infoschema',)]

list

In [26]:
result = engine.execute(
    'select * from user'
)

rows = result.fetchall()

print(rows)
type(rows)

[('localhost', 'debian-sys-maint', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', '', b'', b'', b'', 0, 0, 0, 0, 'caching_sha2_password', b'$A$005$%WYr#\t\x04Kfg\x02~o\x15b\x03\x1drTbqkJg/Xc7kqlAiqoMLmZpBV0jCzAD/fJS8BBr957hrxA', 'N', datetime.datetime(2022, 7, 19, 14, 2, 37), None, 'N', 'Y', 'Y', None, None, None, None), ('localhost', 'jake', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', '', b'', b'', b'', 0, 0, 0, 0, 'caching_sha2_password', b"$A$005$7\x10p7mT\x1b>#nv1r\nZdx'baLwOOUD72cOcbEQQEGYd9swugBQZixnLCnzM1j07wA39", 'N', datetime.datetime(2022, 7, 19, 17, 4, 21), None, 'N', 'Y', 'Y', None, None, None, None), ('localhost', 'mysql.infoschema', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', '', b'', b'', b'', 0, 0, 0, 0, 'caching_sha2_password', b'$A$005$THISISACOMBINATIONOFINVALIDSALTANDPASSWORDTHATMUSTNEVERBRBEUSED', 'N', datetime.datetime(2022, 7, 19, 14, 2, 36), None, 'Y', 'N', 'N', None, None, None, None), ('localhost', 'mysql.session', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', '', b'', b'', b'', 0, 0, 0, 0, 'caching_sha2_password', b'$A$005$THISISACOMBINATIONOFINVALIDSALTANDPASSWORDTHATMUSTNEVERBRBEUSED', 'N', datetime.datetime(2022, 7, 19, 14, 2, 36), None, 'Y', 'N', 'N', None, None, None, None), ('localhost', 'mysql.sys', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', '', b'', b'', b'', 0, 0, 0, 0, 'caching_sha2_password', b'$A$005$THISISACOMBINATIONOFINVALIDSALTANDPASSWORDTHATMUSTNEVERBRBEUSED', 'N', datetime.datetime(2022, 7, 19, 14, 2, 36), None, 'Y', 'N', 'N', None, None, None, None), ('localhost', 'root', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', '', b'', b'', b'', 0, 0, 0, 0, 'auth_socket', b'', 'N', datetime.datetime(2022, 7, 19, 14, 2, 35), None, 'N', 'Y', 'Y', None, None, None, None)]

list

In [27]:
print(result.keys())
type(result)

RMKeyView(['Host', 'User', 'Select_priv', 'Insert_priv', 'Update_priv', 'Delete_priv', 'Create_priv', 'Drop_priv', 'Reload_priv', 'Shutdown_priv', 'Process_priv', 'File_priv', 'Grant_priv', 'References_priv', 'Index_priv', 'Alter_priv', 'Show_db_priv', 'Super_priv', 'Create_tmp_table_priv', 'Lock_tables_priv', 'Execute_priv', 'Repl_slave_priv', 'Repl_client_priv', 'Create_view_priv', 'Show_view_priv', 'Create_routine_priv', 'Alter_routine_priv', 'Create_user_priv', 'Event_priv', 'Trigger_priv', 'Create_tablespace_priv', 'ssl_type', 'ssl_cipher', 'x509_issuer', 'x509_subject', 'max_questions', 'max_updates', 'max_connections', 'max_user_connections', 'plugin', 'authentication_string', 'password_expired', 'password_last_changed', 'password_lifetime', 'account_locked', 'Create_role_priv', 'Drop_role_priv', 'Password_reuse_history', 'Password_reuse_time', 'Password_require_current', 'User_attributes'])

sqlalchemy.engine.cursor.LegacyCursorResult

In [28]:
result.fetchone()

In [29]:
conn = engine.connect()

In [30]:
result1 = conn.execute(
    'select * from user'
)

In [31]:
result1.fetchall()

[('localhost', 'debian-sys-maint', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', '', b'', b'', b'', 0, 0, 0, 0, 'caching_sha2_password', b'$A$005$%WYr#\t\x04Kfg\x02~o\x15b\x03\x1drTbqkJg/Xc7kqlAiqoMLmZpBV0jCzAD/fJS8BBr957hrxA', 'N', datetime.datetime(2022, 7, 19, 14, 2, 37), None, 'N', 'Y', 'Y', None, None, None, None),
 ('localhost', 'jake', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', '', b'', b'', b'', 0, 0, 0, 0, 'caching_sha2_password', b"$A$005$7\x10p7mT\x1b>#nv1r\nZdx'baLwOOUD72cOcbEQQEGYd9swugBQZixnLCnzM1j07wA39", 'N', datetime.datetime(2022, 7, 19, 17, 4, 21), None, 'N', 'Y', 'Y', None, None, None, None),
 ('localhost', 'mysql.infoschema', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', '', b'', b'', b'', 0, 0, 0, 0, 'caching_sha2_password', b'$A$005$THISISACOMBINATIONOFINVALIDSALTANDPASSWORDTHATMUSTNEVERBRBEUSED', 'N', datetime.datetime(2022, 7, 19, 14, 2, 36), None, 'Y', 'N', 'N', None, None, None, None),
 ('localhost', 'mysql.session', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', '', b'', b'', b'', 0, 0, 0, 0, 'caching_sha2_password', b'$A$005$THISISACOMBINATIONOFINVALIDSALTANDPASSWORDTHATMUSTNEVERBRBEUSED', 'N', datetime.datetime(2022, 7, 19, 14, 2, 36), None, 'Y', 'N', 'N', None, None, None, None),
 ('localhost', 'mysql.sys', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', '', b'', b'', b'', 0, 0, 0, 0, 'caching_sha2_password', b'$A$005$THISISACOMBINATIONOFINVALIDSALTANDPASSWORDTHATMUSTNEVERBRBEUSED', 'N', datetime.datetime(2022, 7, 19, 14, 2, 36), None, 'Y', 'N', 'N', None, None, None, None),
 ('localhost', 'root', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', '', b'', b'', b'', 0, 0, 0, 0, 'auth_socket', b'', 'N', datetime.datetime(2022, 7, 19, 14, 2, 35), None, 'N', 'Y', 'Y', None, None, None, None)]

In [32]:
result2 = conn.execute(
    'select User from user'
)

In [33]:
result2.fetchall()

[('debian-sys-maint',),
 ('jake',),
 ('mysql.infoschema',),
 ('mysql.session',),
 ('mysql.sys',),
 ('root',)]

In [34]:
conn = engine.connect()
trans = conn.begin()
conn.execute(
    'select User from user'
).fetchall()
trans.commit()
conn.close()

In [35]:
with engine.begin() as conn:
    result1 = conn.execute(
        'select User from user'
    ).fetchall()
    result2 = conn.execute(
        'select User from user where User = "jake"'
    ).fetchall()
    print(result1)
    print(result2)

[('debian-sys-maint',), ('jake',), ('mysql.infoschema',), ('mysql.session',), ('mysql.sys',), ('root',)]
[('jake',)]

In [36]:
conn = engine.connect()
conn.execute(
    'select User from user'
).fetchall()

[('debian-sys-maint',),
 ('jake',),
 ('mysql.infoschema',),
 ('mysql.session',),
 ('mysql.sys',),
 ('root',)]

### Table / Metadata / Reflection / DDL

In [76]:
# config.py
db = {
    'user'     : 'jake',		# 1)
    'password' : '0000',		# 2)
    'host'     : 'localhost',	# 3)
    'port'     : 3306,			# 4)
    'database' : 'test'		# 5)
}

DB_URL = f"mysql+mysqlconnector://{db['user']}:{db['password']}@{db['host']}:{db['port']}/{db['database']}?charset=utf8"
# DB_URL = f"mysql+mysqlconnector://{db['user']}:{db['password']}@{db['host']}:{db['port']}?charset=utf8"

In [77]:
from sqlalchemy import create_engine, text

In [78]:
engine = create_engine(DB_URL, encoding = 'utf-8', max_overflow = 0)

In [79]:
from sqlalchemy import MetaData
from sqlalchemy import Table, Column
from sqlalchemy import Integer, String

metadata = MetaData()

user_table = Table(
    'user', metadata,
    Column('id', Integer, primary_key=True),
    Column('name', String(36)),
    Column('fullname', String(64)),
)

In [80]:
# user_table.name
# user_table.columns.keys()
# name_col = user_table.columns.name
# id_col = user_table.columns.id
# fullname_col = user_table.columns.fullname

In [81]:
# name_col.name
# name_col.type
# name_col.table

In [82]:
# metadata.create_all(engine)

In [83]:
from sqlalchemy import String, Numeric, DateTime, Enum

fancy_table = Table(
    'fancy', metadata,
    Column('key', String(50), primary_key=True),
    Column('timestamp', DateTime),
    Column('amount', Numeric(10,2)),
    Column('type', Enum('a','b','c')),
)

In [84]:
# fancy_table.create(engine)

In [85]:
from sqlalchemy import ForeignKey

addresses_table = Table(
    'address', metadata,
    Column('id', Integer, primary_key=True),
    Column('email_addresse', String(100), nullable=False),
    Column('user_id', Integer, ForeignKey('user.id')),
)

In [86]:
# addresses_table.create(engine)

In [87]:
from sqlalchemy import Unicode, UnicodeText, DateTime
from sqlalchemy import ForeignKeyConstraint

story_table = Table(
    'story', metadata,
    Column('story_id', Integer, primary_key=True),
    Column('version_id', Integer, primary_key=True),
    Column('headline', Unicode(100), nullable=False),
    Column('body', UnicodeText),
)

published_table = Table(
    'published', metadata,
    Column('pub_id', Integer, primary_key=True),
    Column('pub_timestamp', DateTime, nullable=False),
    Column('story_id', Integer),
    Column('version_id', Integer),
    ForeignKeyConstraint(
        ['story_id', 'version_id'],
        ['story.story_id', 'story.version_id'],
    ),
)

In [88]:
# story_table.create(engine)
# published_table.create(engine)

In [89]:
# engine.execute(
#     'describe published'
# ).fetchall()

In [90]:
from sqlalchemy import Integer, String, DateTime

network_table = Table(
    'network', metadata,
    Column('network_id', Integer, primary_key=True),
    Column('name', String(100), nullable=False),
    Column('created_at', DateTime, nullable=False),
    Column('owner_id', Integer, ForeignKey('user.id')),
)

In [126]:
metadata.create_all(engine)
# metadata.drop_all(engine)

#### Reflection

In [67]:
metadata2 = MetaData()
user_reflected = Table(
    'user',
    metadata2,
    autoload=True,
    autoload_with=engine
)
user_reflected

Table('user', MetaData(), Column('id', INTEGER(), table=<user>, primary_key=True, nullable=False), Column('name', VARCHAR(length=36), table=<user>), Column('fullname', VARCHAR(length=64), table=<user>), schema=None)

In [68]:
from sqlalchemy import inspect

inspector = inspect(engine)

In [69]:
inspector

In [70]:
inspector.get_table_names()

['address', 'fancy', 'network', 'published', 'story', 'user']

In [71]:
inspector.get_columns('address')

[{'name': 'id',
  'type': INTEGER(),
  'default': None,
  'comment': None,
  'nullable': False,
  'autoincrement': True},
 {'name': 'email_addresse',
  'type': VARCHAR(length=100),
  'default': None,
  'comment': None,
  'nullable': False},
 {'name': 'user_id',
  'type': INTEGER(),
  'default': None,
  'comment': None,
  'nullable': True,
  'autoincrement': False}]

In [72]:
inspector.get_foreign_keys('address')

[{'name': 'address_ibfk_1',
  'constrained_columns': ['user_id'],
  'referred_schema': None,
  'referred_table': 'user',
  'referred_columns': ['id'],
  'options': {}}]

In [73]:
for tname in inspector.get_table_names():
    for column in inspector.get_columns(tname):
        if column['name'] == 'story_id':
            print(tname)

published
story

### SQL Expressions

In [257]:
user_table.columns.name == 'ed'

In [258]:
x = user_table.columns.name == 'ed'
x

In [259]:
x == 'jack'

In [260]:
type(x == 'jack')
type(x == 'jack').__mro__

(sqlalchemy.sql.elements.BinaryExpression,
 sqlalchemy.sql.elements.ColumnElement,
 sqlalchemy.sql.roles.ColumnArgumentOrKeyRole,
 sqlalchemy.sql.roles.ColumnArgumentRole,
 sqlalchemy.sql.roles.StatementOptionRole,
 sqlalchemy.sql.roles.WhereHavingRole,
 sqlalchemy.sql.roles.OnClauseRole,
 sqlalchemy.sql.roles.BinaryElementRole,
 sqlalchemy.sql.roles.ExpressionElementRole,
 sqlalchemy.sql.roles.OrderByRole,
 sqlalchemy.sql.roles.ColumnsClauseRole,
 sqlalchemy.sql.roles.AllowsLambdaRole,
 sqlalchemy.sql.roles.ByOfRole,
 sqlalchemy.sql.roles.UsesInspection,
 sqlalchemy.sql.roles.ColumnListRole,
 sqlalchemy.sql.roles.LimitOffsetRole,
 sqlalchemy.sql.roles.DMLColumnRole,
 sqlalchemy.sql.roles.DDLConstraintColumnRole,
 sqlalchemy.sql.roles.DDLExpressionRole,
 sqlalchemy.sql.roles.StructuralRole,
 sqlalchemy.sql.operators.ColumnOperators,
 sqlalchemy.sql.operators.Operators,
 sqlalchemy.sql.elements.ClauseElement,
 sqlalchemy.sql.roles.SQLRole,
 sqlalchemy.sql.annotation.SupportsWrappingAnnotations,
 sqlalchemy.sql.annotation.SupportsAnnotations,
 sqlalchemy.sql.traversals.MemoizedHasCacheKey,
 sqlalchemy.sql.traversals.HasCacheKey,
 sqlalchemy.util.langhelpers.HasMemoized,
 sqlalchemy.sql.traversals.HasCopyInternals,
 sqlalchemy.sql.visitors.Traversible,
 object)

In [261]:
str(x)

'"user".name = :name_1'

In [262]:
print(
    (user_table.columns.name == 'ed') | (user_table.columns.name == 'jack')
)

"user".name = :name_1 OR "user".name = :name_2

In [263]:
from sqlalchemy import and_, or_

print(
    and_(
        user_table.columns.name == 'ed',
        or_(
            user_table.columns.name == 'ed',
            user_table.columns.name == 'jack'
        )
    )
)

"user".name = :name_1 AND ("user".name = :name_2 OR "user".name = :name_3)

In [264]:
print(user_table.c.id > 5)

"user".id > :id_1

In [265]:
print(user_table.c.fullname == None)
print(user_table.c.fullname != None)
print(user_table.c.fullname.is_(None))

"user".fullname IS NULL
"user".fullname IS NOT NULL
"user".fullname IS NULL

In [266]:
# Numeric Addition
print(user_table.c.id + 5)

"user".id + :id_1

In [267]:
# String Concat
print(user_table.c.fullname + 'some name')

"user".fullname || :fullname_1

In [275]:
from sqlalchemy.dialects import mysql, postgresql

expression = user_table.c.name == 'ed'

print(
    expression.compile(dialect=mysql.dialect())
    )
print(
    expression.compile(dialect=postgresql.dialect())
    )

user.name = %s
"user".name = %(name_1)s

In [284]:
compile = expression.compile()
print(compile.params)
expression.compile().params

{'name_1': 'ed'}

{'name_1': 'ed'}

In [282]:
expression.left

Column('name', String(length=36), table=<user>)

In [283]:
expression.right

BindParameter('%(140323298039008 name)s', 'ed', type_=String(length=36))

In [287]:
engine.execute(
    user_table.select().where(user_table.c.name == 'ed')
)

### Object Relational Mapping

In [1]:
# config.py
db = {
    'user'     : 'jake',		# 1)
    'password' : '0000',		# 2)
    'host'     : 'localhost',	# 3)
    'port'     : 3306,			# 4)
    'database' : 'test'		# 5)
}

DB_URL = f"mysql+mysqlconnector://jake:0000@localhost:3306/test"
# DB_URL = f"mysql+mysqlconnector://{db['user']}:{db['password']}@{db['host']}:{db['port']}/{db['database']}?charset=utf8"
# DB_URL = f"mysql+mysqlconnector://{db['user']}:{db['password']}@{db['host']}:{db['port']}?charset=utf8"

In [2]:
from sqlalchemy import create_engine

engine = create_engine(DB_URL)
# engine = create_engine(DB_URL, encoding = 'utf-8', max_overflow = 0)

In [3]:
from sqlalchemy.orm import declarative_base

Base = declarative_base()

In [4]:
from sqlalchemy import Column, Integer, String

class User(Base):
    __tablename__ = 'users'

    id = Column(Integer, primary_key=True)
    name = Column(String(30))
    fullname = Column(String(30))
    nickname = Column(String(30))

    def __repr__(self):
        return f'<User(name={self.name}, fullname={self.fullname}, nickname={self.nickname})>'

In [5]:
User.__table__

Table('users', MetaData(), Column('id', Integer(), table=<users>, primary_key=True, nullable=False), Column('name', String(length=30), table=<users>), Column('fullname', String(length=30), table=<users>), Column('nickname', String(length=30), table=<users>), schema=None)

In [7]:
Base.metadata.create_all(engine)

In [8]:
ed_user = User(name='ed', fullname='Ed Jones', nickname='edsnickname')
print(ed_user.name)
print(ed_user.fullname)
print(ed_user.nickname)
print(str(ed_user.id))

ed
Ed Jones
edsnickname
None

In [9]:
jake_user = User(name='jake', fullname='Jake Park', nickname='sorry')
print(jake_user.name)
print(jake_user.fullname)
print(jake_user.nickname)
print(str(jake_user.id))
print(jake_user)

jake
Jake Park
sorry
None
<User(name=jake, fullname=Jake Park, nickname=sorry)>

In [10]:
from sqlalchemy.orm import sessionmaker

Session = sessionmaker(bind=engine)

In [11]:
session = Session()

In [12]:
session.add(ed_user)
session.add(jake_user)

In [13]:
our_user = session.query(User).filter_by(name='ed').first()
our_user

In [14]:
print(ed_user is our_user)
print(ed_user == our_user)

False
False

In [15]:
session.add_all([
    User(name='wendy', fullname='Wendy Williams', nickname='windy'),
    User(name='mary', fullname='Mary Contrary', nickname='mary'),
    User(name='fred', fullname='Fred Flinstone', nickname='freddy'),
])

In [16]:
ed_user.nickname = 'eddie'
session.dirty

IdentitySet([<User(name=ed, fullname=Ed Jones, nickname=eddie)>])

In [17]:
session.new

IdentitySet([<User(name=wendy, fullname=Wendy Williams, nickname=windy)>, <User(name=mary, fullname=Mary Contrary, nickname=mary)>, <User(name=fred, fullname=Fred Flinstone, nickname=freddy)>])

In [18]:
session.commit()

In [19]:
ed_user.id

19

In [20]:
ed_user.name = 'Edwardo'

In [21]:
fake_user = User(
    name='fakeuser',
    fullname='Invalid',
    nickname='12345'
)
session.add(fake_user)

In [22]:
session.query(User).filter(User.name.in_(['Edwardo', 'fakeuser'])).all()

[<User(name=Edwardo, fullname=Ed Jones, nickname=eddie)>,
 <User(name=fakeuser, fullname=Invalid, nickname=12345)>]

In [23]:
session.rollback()

In [24]:
ed_user.name

'ed'

In [25]:
fake_user in session

False

In [26]:
session.query(User).filter(User.name.in_(['ed', 'fakeuseer'])).all()

[<User(name=ed, fullname=Ed Jones, nickname=eddie)>,
 <User(name=ed, fullname=Ed Jones, nickname=eddie)>,
 <User(name=ed, fullname=Ed Jones, nickname=eddie)>,
 <User(name=ed, fullname=Ed Jones, nickname=eddie)>]

In [27]:
for instance in session.query(User).order_by(User.id):
    print(instance.name, instance.fullname)

ed Ed Jones
jake Jake Park
wendy Wendy Williams
mary Mary Contrary
fred Fred Flinstone
ed Ed Jones
jake Jake Park
wendy Wendy Williams
mary Mary Contrary
fred Fred Flinstone
ed Ed Jones
jake Jake Park
wendy Wendy Williams
mary Mary Contrary
fred Fred Flinstone
ed Ed Jones
jake Jake Park
wendy Wendy Williams
mary Mary Contrary
fred Fred Flinstone

In [28]:
for name, fullname in session.query(User.name, User.fullname):
    print(name, fullname)

ed Ed Jones
jake Jake Park
wendy Wendy Williams
mary Mary Contrary
fred Fred Flinstone
ed Ed Jones
jake Jake Park
wendy Wendy Williams
mary Mary Contrary
fred Fred Flinstone
ed Ed Jones
jake Jake Park
wendy Wendy Williams
mary Mary Contrary
fred Fred Flinstone
ed Ed Jones
jake Jake Park
wendy Wendy Williams
mary Mary Contrary
fred Fred Flinstone

In [29]:
for row in session.query(User, User.name).all():
    print(row.User, row.name)

<User(name=ed, fullname=Ed Jones, nickname=eddie)> ed
<User(name=jake, fullname=Jake Park, nickname=sorry)> jake
<User(name=wendy, fullname=Wendy Williams, nickname=windy)> wendy
<User(name=mary, fullname=Mary Contrary, nickname=mary)> mary
<User(name=fred, fullname=Fred Flinstone, nickname=freddy)> fred
<User(name=ed, fullname=Ed Jones, nickname=eddie)> ed
<User(name=jake, fullname=Jake Park, nickname=sorry)> jake
<User(name=wendy, fullname=Wendy Williams, nickname=windy)> wendy
<User(name=mary, fullname=Mary Contrary, nickname=mary)> mary
<User(name=fred, fullname=Fred Flinstone, nickname=freddy)> fred
<User(name=ed, fullname=Ed Jones, nickname=eddie)> ed
<User(name=jake, fullname=Jake Park, nickname=sorry)> jake
<User(name=wendy, fullname=Wendy Williams, nickname=windy)> wendy
<User(name=mary, fullname=Mary Contrary, nickname=mary)> mary
<User(name=fred, fullname=Fred Flinstone, nickname=freddy)> fred
<User(name=ed, fullname=Ed Jones, nickname=eddie)> ed
<User(name=jake, fullname=Jake Park, nickname=sorry)> jake
<User(name=wendy, fullname=Wendy Williams, nickname=windy)> wendy
<User(name=mary, fullname=Mary Contrary, nickname=mary)> mary
<User(name=fred, fullname=Fred Flinstone, nickname=freddy)> fred

In [30]:
for row in session.query(User.name.label('name_label')).all():
    print(row.name_label)

ed
jake
wendy
mary
fred
ed
jake
wendy
mary
fred
ed
jake
wendy
mary
fred
ed
jake
wendy
mary
fred

In [31]:
User.name.label('name_label')

In [32]:
from sqlalchemy.orm import aliased

user_alias = aliased(User, name='user_alias')

for row in session.query(user_alias, user_alias.name).all():
    print(row.user_alias)

<User(name=ed, fullname=Ed Jones, nickname=eddie)>
<User(name=jake, fullname=Jake Park, nickname=sorry)>
<User(name=wendy, fullname=Wendy Williams, nickname=windy)>
<User(name=mary, fullname=Mary Contrary, nickname=mary)>
<User(name=fred, fullname=Fred Flinstone, nickname=freddy)>
<User(name=ed, fullname=Ed Jones, nickname=eddie)>
<User(name=jake, fullname=Jake Park, nickname=sorry)>
<User(name=wendy, fullname=Wendy Williams, nickname=windy)>
<User(name=mary, fullname=Mary Contrary, nickname=mary)>
<User(name=fred, fullname=Fred Flinstone, nickname=freddy)>
<User(name=ed, fullname=Ed Jones, nickname=eddie)>
<User(name=jake, fullname=Jake Park, nickname=sorry)>
<User(name=wendy, fullname=Wendy Williams, nickname=windy)>
<User(name=mary, fullname=Mary Contrary, nickname=mary)>
<User(name=fred, fullname=Fred Flinstone, nickname=freddy)>
<User(name=ed, fullname=Ed Jones, nickname=eddie)>
<User(name=jake, fullname=Jake Park, nickname=sorry)>
<User(name=wendy, fullname=Wendy Williams, nickname=windy)>
<User(name=mary, fullname=Mary Contrary, nickname=mary)>
<User(name=fred, fullname=Fred Flinstone, nickname=freddy)>

In [33]:
for u in session.query(User).order_by(User.id)[0:3]:
    print(u)

<User(name=ed, fullname=Ed Jones, nickname=eddie)>
<User(name=jake, fullname=Jake Park, nickname=sorry)>
<User(name=wendy, fullname=Wendy Williams, nickname=windy)>

In [34]:
for name in session.query(User.name).\
    filter_by(fullname='Ed Jones'):
    print(name)

('ed',)
('ed',)
('ed',)
('ed',)

In [35]:
for name in session.query(User.name).filter(User.fullname=='Ed Jones'):
    print(name)

('ed',)
('ed',)
('ed',)
('ed',)

In [36]:
for user in session.query(User).filter(User.name=='ed').filter(User.fullname=='Ed Jones'):
    print(user.fullname)

Ed Jones
Ed Jones
Ed Jones
Ed Jones

In [37]:
# query.filter(User.name == 'ed')
# query.filter(User.name != 'ed')
# query.filter(User.name.like('%ed%'))
# query.filter(User.name.ilike('%ed%'))

In [38]:
# query.filter(User.name.in_(['ed', 'wendy', 'jack']))

# # works with query objects too:
# query.filter(User.name.in_(
#     session.query(User.name).filter(User.name.like('%ed%'))
# ))

# # use tuple_() for composite (multi-column) queries
# from sqlalchemy import tuple_
# query.filter(
#     tuple_(User.name, User.nickname).\
#     in_([('ed', 'edsnickname'), ('wendy', 'windy')])
# )

In [39]:
# query.filter(~User.name.in_(['ed', 'wendy', 'jack']))

In [40]:
# query.filter(User.name == None)

# # alternatively, if pep8/linters are a concern
# query.filter(User.name.is_(None))

In [41]:
# query.filter(User.name != None)

# # alternatively, if pep8/linters are a concern
# query.filter(User.name.is_not(None))

In [42]:
# # use and_()
# from sqlalchemy import and_
# query.filter(and_(User.name == 'ed', User.fullname == 'Ed Jones'))

# # or send multiple expressions to .filter()
# query.filter(User.name == 'ed', User.fullname == 'Ed Jones')

# # or chain multiple filter()/filter_by() calls
# query.filter(User.name == 'ed').filter(User.fullname == 'Ed Jones')

In [43]:
# from sqlalchemy import or_
# query.filter(or_(User.name == 'ed', User.name == 'wendy'))

In [44]:
# query.filter(User.name.match('wendy'))

In [45]:
query = session.query(User).filter(User.name.like('%ed')).order_by(User.id)
query.all()

[<User(name=ed, fullname=Ed Jones, nickname=eddie)>,
 <User(name=fred, fullname=Fred Flinstone, nickname=freddy)>,
 <User(name=ed, fullname=Ed Jones, nickname=eddie)>,
 <User(name=fred, fullname=Fred Flinstone, nickname=freddy)>,
 <User(name=ed, fullname=Ed Jones, nickname=eddie)>,
 <User(name=fred, fullname=Fred Flinstone, nickname=freddy)>,
 <User(name=ed, fullname=Ed Jones, nickname=eddie)>,
 <User(name=fred, fullname=Fred Flinstone, nickname=freddy)>]

In [46]:
query.first()

In [47]:
user = query.one()

MultipleResultsFound: Multiple rows were found when exactly one was required

In [ ]:
user = query.filter(User.id == 99).one()

NoResultFound: No row was found when one was required

In [48]:
query = session.query(User.id).filter(User.name == 'ed').\
   order_by(User.id)
query.scalar()

MultipleResultsFound: Multiple rows were found when exactly one was required

In [49]:
from sqlalchemy import text
for user in session.query(User).\
            filter(text("id<224")).\
            order_by(text("id")).all():
    print(user.name)

ed
jake
wendy
mary
fred
ed
jake
wendy
mary
fred
ed
jake
wendy
mary
fred
ed
jake
wendy
mary
fred

In [50]:
session.query(User).filter(text("id<:value and name=:name")).\
    params(value=224, name='fred').order_by(User.id).one()

MultipleResultsFound: Multiple rows were found when exactly one was required

In [51]:
session.query(User).from_statement(
 text("SELECT * FROM users where name=:name")).params(name='ed').all()

[<User(name=ed, fullname=Ed Jones, nickname=eddie)>,
 <User(name=ed, fullname=Ed Jones, nickname=eddie)>,
 <User(name=ed, fullname=Ed Jones, nickname=eddie)>,
 <User(name=ed, fullname=Ed Jones, nickname=eddie)>]

In [52]:
stmt = text("SELECT name, id, fullname, nickname "
            "FROM users where name=:name")
stmt = stmt.columns(User.name, User.id, User.fullname, User.nickname)
session.query(User).from_statement(stmt).params(name='ed').all()

[<User(name=ed, fullname=Ed Jones, nickname=eddie)>,
 <User(name=ed, fullname=Ed Jones, nickname=eddie)>,
 <User(name=ed, fullname=Ed Jones, nickname=eddie)>,
 <User(name=ed, fullname=Ed Jones, nickname=eddie)>]

In [53]:
stmt = text("SELECT name, id FROM users where name=:name")
stmt = stmt.columns(User.name, User.id)
session.query(User.id, User.name).\
         from_statement(stmt).params(name='ed').all()

[(1, 'ed'), (7, 'ed'), (13, 'ed'), (19, 'ed')]

In [54]:
session.query(User).filter(User.name.like('%ed')).count()

8

In [55]:
for user in session.query(User).all():
    print(user)

<User(name=ed, fullname=Ed Jones, nickname=eddie)>
<User(name=jake, fullname=Jake Park, nickname=sorry)>
<User(name=wendy, fullname=Wendy Williams, nickname=windy)>
<User(name=mary, fullname=Mary Contrary, nickname=mary)>
<User(name=fred, fullname=Fred Flinstone, nickname=freddy)>
<User(name=ed, fullname=Ed Jones, nickname=eddie)>
<User(name=jake, fullname=Jake Park, nickname=sorry)>
<User(name=wendy, fullname=Wendy Williams, nickname=windy)>
<User(name=mary, fullname=Mary Contrary, nickname=mary)>
<User(name=fred, fullname=Fred Flinstone, nickname=freddy)>
<User(name=ed, fullname=Ed Jones, nickname=eddie)>
<User(name=jake, fullname=Jake Park, nickname=sorry)>
<User(name=wendy, fullname=Wendy Williams, nickname=windy)>
<User(name=mary, fullname=Mary Contrary, nickname=mary)>
<User(name=fred, fullname=Fred Flinstone, nickname=freddy)>
<User(name=ed, fullname=Ed Jones, nickname=eddie)>
<User(name=jake, fullname=Jake Park, nickname=sorry)>
<User(name=wendy, fullname=Wendy Williams, nickname=windy)>
<User(name=mary, fullname=Mary Contrary, nickname=mary)>
<User(name=fred, fullname=Fred Flinstone, nickname=freddy)>

In [56]:
from sqlalchemy import func
session.query(func.count(User.name), User.name).group_by(User.name).all()

[(4, 'ed'), (4, 'jake'), (4, 'wendy'), (4, 'mary'), (4, 'fred')]

In [57]:
session.query(func.count('*')).select_from(User).scalar()

20

In [58]:
session.query(func.count(User.id)).scalar()

20

In [59]:
from sqlalchemy import ForeignKey
from sqlalchemy.orm import relationship

class Address(Base):
    __tablename__ = 'addresses'
    id = Column(Integer, primary_key=True)
    email_address = Column(String(50), nullable=False)
    user_id = Column(Integer, ForeignKey('users.id'))

    user = relationship('User', back_populates='addresses')

    def __repr__(self):
        return "<Address(email_addresses='{self.email_address}')>"

In [64]:
Address.__table__

Table('addresses', MetaData(), Column('id', Integer(), table=<addresses>, primary_key=True, nullable=False), Column('email_address', String(length=50), table=<addresses>, nullable=False), Column('user_id', Integer(), ForeignKey('users.id'), table=<addresses>), schema=None)

In [60]:
User.addresses = relationship(
    "Address", order_by=Address.id, back_populates="user")

In [61]:
Base.metadata.create_all(engine)

In [62]:
jack = User(name='jack', fullname='Jack Bean', nickname='gjffdd')
jack.addresses

[]

In [65]:
jack.addresses = [
                Address(email_address='jack@google.com'),
                Address(email_address='j25@yahoo.com')]

In [66]:
jack.addresses[1]

In [67]:
jack.addresses[1].user

In [68]:
session.add(jack)
session.commit()

In [69]:
jack = session.query(User).\
filter_by(name='jack').one()


jack

In [70]:
jack.addresses

[<Address(email_addresses='{self.email_address}')>,
 <Address(email_addresses='{self.email_address}')>]

In [71]:
for u, a in session.query(User, Address).\
                    filter(User.id==Address.user_id).\
                    filter(Address.email_address=='jack@google.com').\
                    all():
    print(u)
    print(a)

<User(name=jack, fullname=Jack Bean, nickname=gjffdd)>
<Address(email_addresses='{self.email_address}')>

In [72]:
session.query(User).join(Address).\
        filter(Address.email_address=='jack@google.com').\
        all()

In [73]:
# query.join(Address, User.id==Address.user_id)          # explicit condition
# query.join(User.addresses)                             # specify relationship from left to right
# query.join(Address, User.addresses)                    # same, with explicit target
# query.join(User.addresses.and_(Address.name != 'foo')) # use relationship + additional ON criteria

AttributeError: type object 'Address' has no attribute 'name'

In [74]:
query.outerjoin(User.addresses)   # LEFT OUTER JOIN

In [75]:
query = session.query(User, Address).select_from(Address).join(User)

In [76]:
from sqlalchemy.orm import aliased
adalias1 = aliased(Address)
adalias2 = aliased(Address)
for username, email1, email2 in \
    session.query(User.name, adalias1.email_address, adalias2.email_address).\
    join(User.addresses.of_type(adalias1)).\
    join(User.addresses.of_type(adalias2)).\
    filter(adalias1.email_address=='jack@google.com').\
    filter(adalias2.email_address=='j25@yahoo.com'):
    print(username, email1, email2)

jack jack@google.com j25@yahoo.com

In [77]:
# equivalent to query.join(User.addresses.of_type(adalias1))
q = query.join(adalias1, User.addresses)

In [78]:
SELECT users.*, adr_count.address_count FROM users LEFT OUTER JOIN
    (SELECT user_id, count(*) AS address_count
        FROM addresses GROUP BY user_id) AS adr_count
    ON users.id=adr_count.user_id

SyntaxError: invalid syntax (2511523602.py, line 1)

In [79]:
from sqlalchemy.sql import func
stmt = session.query(Address.user_id, func.count('*').\
        label('address_count')).\
        group_by(Address.user_id).subquery()

In [80]:
for u, count in session.query(User, stmt.c.address_count).\
    outerjoin(stmt, User.id==stmt.c.user_id).order_by(User.id):
    print(u, count)

<User(name=ed, fullname=Ed Jones, nickname=eddie)> None
<User(name=jake, fullname=Jake Park, nickname=sorry)> None
<User(name=wendy, fullname=Wendy Williams, nickname=windy)> None
<User(name=mary, fullname=Mary Contrary, nickname=mary)> None
<User(name=fred, fullname=Fred Flinstone, nickname=freddy)> None
<User(name=ed, fullname=Ed Jones, nickname=eddie)> None
<User(name=jake, fullname=Jake Park, nickname=sorry)> None
<User(name=wendy, fullname=Wendy Williams, nickname=windy)> None
<User(name=mary, fullname=Mary Contrary, nickname=mary)> None
<User(name=fred, fullname=Fred Flinstone, nickname=freddy)> None
<User(name=ed, fullname=Ed Jones, nickname=eddie)> None
<User(name=jake, fullname=Jake Park, nickname=sorry)> None
<User(name=wendy, fullname=Wendy Williams, nickname=windy)> None
<User(name=mary, fullname=Mary Contrary, nickname=mary)> None
<User(name=fred, fullname=Fred Flinstone, nickname=freddy)> None
<User(name=ed, fullname=Ed Jones, nickname=eddie)> None
<User(name=jake, fullname=Jake Park, nickname=sorry)> None
<User(name=wendy, fullname=Wendy Williams, nickname=windy)> None
<User(name=mary, fullname=Mary Contrary, nickname=mary)> None
<User(name=fred, fullname=Fred Flinstone, nickname=freddy)> None
<User(name=jack, fullname=Jack Bean, nickname=gjffdd)> 2

In [81]:
stmt = session.query(Address).\
                filter(Address.email_address != 'j25@yahoo.com').\
                subquery()
addr_alias = aliased(Address, stmt)
for user, address in session.query(User, addr_alias).\
        join(addr_alias, User.addresses):
    print(user)
    print(address)

<User(name=jack, fullname=Jack Bean, nickname=gjffdd)>
<Address(email_addresses='{self.email_address}')>

In [82]:
from sqlalchemy.sql import exists
stmt = exists().where(Address.user_id==User.id)
for name, in session.query(User.name).filter(stmt):
    print(name)

jack

In [83]:
for name, in session.query(User.name).\
        filter(User.addresses.any()):
    print(name)

jack

In [84]:
for name, in session.query(User.name).\
    filter(User.addresses.any(Address.email_address.like('%google%'))):
    print(name)

jack

In [85]:
session.query(Address).\
        filter(~Address.user.has(User.name=='jack')).all()

[]

In [87]:
# query.filter(Address.user == someuser)
# query.filter(Address.user != someuser)
# query.filter(Address.user == None)
# query.filter(User.addresses.contains(someaddress))
# query.filter(User.addresses.any(Address.email_address == 'bar'))

# # also takes keyword arguments:
# query.filter(User.addresses.any(email_address='bar'))
# query.filter(Address.user.has(name='ed'))
# session.query(Address).with_parent(someuser, 'addresses')

In [88]:
from sqlalchemy.orm import selectinload
jack = session.query(User).\
                options(selectinload(User.addresses)).\
                filter_by(name='jack').one()


jack

jack.addresses

[<Address(email_addresses='{self.email_address}')>,
 <Address(email_addresses='{self.email_address}')>]

In [89]:
from sqlalchemy.orm import joinedload

jack = session.query(User).\
                       options(joinedload(User.addresses)).\
                       filter_by(name='jack').one()


jack

jack.addresses

[<Address(email_addresses='{self.email_address}')>,
 <Address(email_addresses='{self.email_address}')>]

In [90]:
from sqlalchemy.orm import contains_eager
jacks_addresses = session.query(Address).\
                            join(Address.user).\
                            filter(User.name=='jack').\
                            options(contains_eager(Address.user)).\
                            all()


jacks_addresses

jacks_addresses[0].user

In [91]:
session.delete(jack)
session.query(User).filter_by(name='jack').count()

0

In [92]:
session.query(Address).filter(
    Address.email_address.in_(['jack@google.com', 'j25@yahoo.com'])
 ).count()

2

In [93]:
session.close()

In [94]:
Base = declarative_base()

In [95]:
class User(Base):
    __tablename__ = 'users'
    id = Column(Integer, primary_key=True)
    name = Column(String)
    fullname = Column(String)
    nickname = Column(String)
    addresses = relationship("Address", back_populates='user',
                    cascade="all, delete, delete-orphan")
    def __repr__(self):
       return "<User(name='%s', fullname='%s', nickname='%s')>" % (
                               self.name, self.fullname, self.nickname)

In [96]:
class Address(Base):
    __tablename__ = 'addresses'
    id = Column(Integer, primary_key=True)
    email_address = Column(String, nullable=False)
    user_id = Column(Integer, ForeignKey('users.id'))
    user = relationship("User", back_populates="addresses")
    def __repr__(self):
        return "<Address(email_address='%s')>" % self.email_address

In [97]:
jack = session.get(User, 5)



del jack.addresses[1]



session.query(Address).filter(
    Address.email_address.in_(['jack@google.com', 'j25@yahoo.com'])
).count()

IndexError: list index out of range

In [98]:
session.delete(jack)

session.query(User).filter_by(name='jack').count()



session.query(Address).filter(
   Address.email_address.in_(['jack@google.com', 'j25@yahoo.com'])
).count()

2

In [99]:
from sqlalchemy import Table, Text
# association table
post_keywords = Table('post_keywords', Base.metadata,
    Column('post_id', ForeignKey('posts.id'), primary_key=True),
    Column('keyword_id', ForeignKey('keywords.id'), primary_key=True)
)

In [100]:
class BlogPost(Base):
    __tablename__ = 'posts'
    id = Column(Integer, primary_key=True)
    user_id = Column(Integer, ForeignKey('users.id'))
    headline = Column(String(255), nullable=False)
    body = Column(Text)
    # many to many BlogPost<->Keyword
    keywords = relationship('Keyword',
                            secondary=post_keywords,
                            back_populates='posts')
    def __init__(self, headline, body, author):
        self.author = author
        self.headline = headline
        self.body = body
    def __repr__(self):
        return "BlogPost(%r, %r, %r)" % (self.headline, self.body, self.author)


class Keyword(Base):
    __tablename__ = 'keywords'
    id = Column(Integer, primary_key=True)
    keyword = Column(String(50), nullable=False, unique=True)
    posts = relationship('BlogPost',
                         secondary=post_keywords,
                         back_populates='keywords')
    def __init__(self, keyword):
        self.keyword = keyword

In [101]:
BlogPost.author = relationship(User, back_populates="posts")
User.posts = relationship(BlogPost, back_populates="author", lazy="dynamic")

In [102]:
Base.metadata.create_all(engine)

In [ ]:
wendy = session.query(User).\
                filter_by(name='wendy').\
                one()


post = BlogPost("Wendy's Blog Post", "This is a test", wendy)
session.add(post)

In [ ]:
post.keywords.append(Keyword('wendy'))
post.keywords.append(Keyword('firstpost'))

In [ ]:
session.query(BlogPost).\
            filter(BlogPost.keywords.any(keyword='firstpost')).\
            all()

In [ ]:
session.query(BlogPost).\
            filter(BlogPost.author==wendy).\
            filter(BlogPost.keywords.any(keyword='firstpost')).\
            all()

In [ ]:
wendy.posts.\
        filter(BlogPost.keywords.any(keyword='firstpost')).\
        all()