[Introduction to SQLAlchemy at PyCon 2013](https://www.youtube.com/watch?v=woKYyhLCcnU&t=175s)

### Engine / Connection / Transaction

In [1]:
# !conda install -c conda-forge mysql-connector-python
# !conda install sqlalchemy flask
# !sudo apt install mysql-server
# !sudo service mysql start
# !sudo service mysql status
# !sudo mysql -u root -p

In [ ]:
# CREATE USER 'jake'@'localhost' IDENTIFIED BY '0000';
# GRANT ALL ON *.* TO 'jake'@'localhost' WITH GRANT OPTION;
# CREATE DATABASE test;

In [156]:
# config.py
db = {
    'user'     : 'jake',		# 1)
    'password' : '0000',		# 2)
    'host'     : 'localhost',	# 3)
    'port'     : 3306,			# 4)
    'database' : 'test'		# 5)
}

DB_URL = f"mysql+mysqlconnector://{db['user']}:{db['password']}@{db['host']}:{db['port']}/{db['database']}?charset=utf8"
# DB_URL = f"mysql+mysqlconnector://{db['user']}:{db['password']}@{db['host']}:{db['port']}?charset=utf8"

In [157]:
from sqlalchemy import create_engine, text

In [158]:
engine = create_engine(DB_URL, encoding = 'utf-8', max_overflow = 0)

In [159]:
engine.table_names()

/tmp/ipykernel_1904/4162273999.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

[]

In [58]:
engine

Engine(mysql+mysqlconnector://jake:***@localhost:3306/mysql?charset=utf8)

In [84]:
result = engine.execute(
    'select User from user'
)

rows = result.fetchall()

print(rows)
type(rows)

[('debian-sys-maint',), ('jake',), ('mysql.infoschema',), ('mysql.session',), ('mysql.sys',), ('root',)]

list

In [83]:
result = engine.execute(
    'select User from user'
)

row = result.fetchone()

print(row)
type(row)

('debian-sys-maint',)

sqlalchemy.engine.row.LegacyRow

In [82]:
result = engine.execute(
    'select User from user'
)

rows = result.fetchmany(3)

print(rows)
type(rows)

[('debian-sys-maint',), ('jake',), ('mysql.infoschema',)]

list

In [92]:
result = engine.execute(
    'select * from user'
)

rows = result.fetchall()

print(rows)
type(rows)

[('localhost', 'debian-sys-maint', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', '', b'', b'', b'', 0, 0, 0, 0, 'caching_sha2_password', b'$A$005$%WYr#\t\x04Kfg\x02~o\x15b\x03\x1drTbqkJg/Xc7kqlAiqoMLmZpBV0jCzAD/fJS8BBr957hrxA', 'N', datetime.datetime(2022, 7, 19, 14, 2, 37), None, 'N', 'Y', 'Y', None, None, None, None), ('localhost', 'jake', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', '', b'', b'', b'', 0, 0, 0, 0, 'caching_sha2_password', b"$A$005$7\x10p7mT\x1b>#nv1r\nZdx'baLwOOUD72cOcbEQQEGYd9swugBQZixnLCnzM1j07wA39", 'N', datetime.datetime(2022, 7, 19, 17, 4, 21), None, 'N', 'Y', 'Y', None, None, None, None), ('localhost', 'mysql.infoschema', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', '', b'', b'', b'', 0, 0, 0, 0, 'caching_sha2_password', b'$A$005$THISISACOMBINATIONOFINVALIDSALTANDPASSWORDTHATMUSTNEVERBRBEUSED', 'N', datetime.datetime(2022, 7, 19, 14, 2, 36), None, 'Y', 'N', 'N', None, None, None, None), ('localhost', 'mysql.session', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', '', b'', b'', b'', 0, 0, 0, 0, 'caching_sha2_password', b'$A$005$THISISACOMBINATIONOFINVALIDSALTANDPASSWORDTHATMUSTNEVERBRBEUSED', 'N', datetime.datetime(2022, 7, 19, 14, 2, 36), None, 'Y', 'N', 'N', None, None, None, None), ('localhost', 'mysql.sys', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', '', b'', b'', b'', 0, 0, 0, 0, 'caching_sha2_password', b'$A$005$THISISACOMBINATIONOFINVALIDSALTANDPASSWORDTHATMUSTNEVERBRBEUSED', 'N', datetime.datetime(2022, 7, 19, 14, 2, 36), None, 'Y', 'N', 'N', None, None, None, None), ('localhost', 'root', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', '', b'', b'', b'', 0, 0, 0, 0, 'auth_socket', b'', 'N', datetime.datetime(2022, 7, 19, 14, 2, 35), None, 'N', 'Y', 'Y', None, None, None, None)]

list

In [94]:
print(result.keys())
type(result)

RMKeyView(['Host', 'User', 'Select_priv', 'Insert_priv', 'Update_priv', 'Delete_priv', 'Create_priv', 'Drop_priv', 'Reload_priv', 'Shutdown_priv', 'Process_priv', 'File_priv', 'Grant_priv', 'References_priv', 'Index_priv', 'Alter_priv', 'Show_db_priv', 'Super_priv', 'Create_tmp_table_priv', 'Lock_tables_priv', 'Execute_priv', 'Repl_slave_priv', 'Repl_client_priv', 'Create_view_priv', 'Show_view_priv', 'Create_routine_priv', 'Alter_routine_priv', 'Create_user_priv', 'Event_priv', 'Trigger_priv', 'Create_tablespace_priv', 'ssl_type', 'ssl_cipher', 'x509_issuer', 'x509_subject', 'max_questions', 'max_updates', 'max_connections', 'max_user_connections', 'plugin', 'authentication_string', 'password_expired', 'password_last_changed', 'password_lifetime', 'account_locked', 'Create_role_priv', 'Drop_role_priv', 'Password_reuse_history', 'Password_reuse_time', 'Password_require_current', 'User_attributes'])

sqlalchemy.engine.cursor.LegacyCursorResult

In [95]:
result.fetchone()

In [98]:
conn = engine.connect()

In [101]:
result1 = conn.execute(
    'select * from user'
)

In [102]:
result1.fetchall()

[('localhost', 'debian-sys-maint', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', '', b'', b'', b'', 0, 0, 0, 0, 'caching_sha2_password', b'$A$005$%WYr#\t\x04Kfg\x02~o\x15b\x03\x1drTbqkJg/Xc7kqlAiqoMLmZpBV0jCzAD/fJS8BBr957hrxA', 'N', datetime.datetime(2022, 7, 19, 14, 2, 37), None, 'N', 'Y', 'Y', None, None, None, None),
 ('localhost', 'jake', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', '', b'', b'', b'', 0, 0, 0, 0, 'caching_sha2_password', b"$A$005$7\x10p7mT\x1b>#nv1r\nZdx'baLwOOUD72cOcbEQQEGYd9swugBQZixnLCnzM1j07wA39", 'N', datetime.datetime(2022, 7, 19, 17, 4, 21), None, 'N', 'Y', 'Y', None, None, None, None),
 ('localhost', 'mysql.infoschema', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', '', b'', b'', b'', 0, 0, 0, 0, 'caching_sha2_password', b'$A$005$THISISACOMBINATIONOFINVALIDSALTANDPASSWORDTHATMUSTNEVERBRBEUSED', 'N', datetime.datetime(2022, 7, 19, 14, 2, 36), None, 'Y', 'N', 'N', None, None, None, None),
 ('localhost', 'mysql.session', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', '', b'', b'', b'', 0, 0, 0, 0, 'caching_sha2_password', b'$A$005$THISISACOMBINATIONOFINVALIDSALTANDPASSWORDTHATMUSTNEVERBRBEUSED', 'N', datetime.datetime(2022, 7, 19, 14, 2, 36), None, 'Y', 'N', 'N', None, None, None, None),
 ('localhost', 'mysql.sys', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', '', b'', b'', b'', 0, 0, 0, 0, 'caching_sha2_password', b'$A$005$THISISACOMBINATIONOFINVALIDSALTANDPASSWORDTHATMUSTNEVERBRBEUSED', 'N', datetime.datetime(2022, 7, 19, 14, 2, 36), None, 'Y', 'N', 'N', None, None, None, None),
 ('localhost', 'root', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', '', b'', b'', b'', 0, 0, 0, 0, 'auth_socket', b'', 'N', datetime.datetime(2022, 7, 19, 14, 2, 35), None, 'N', 'Y', 'Y', None, None, None, None)]

In [104]:
result2 = conn.execute(
    'select User from user'
)

In [105]:
result2.fetchall()

[('debian-sys-maint',),
 ('jake',),
 ('mysql.infoschema',),
 ('mysql.session',),
 ('mysql.sys',),
 ('root',)]

In [124]:
conn = engine.connect()
trans = conn.begin()
conn.execute(
    'select User from user'
).fetchall()
trans.commit()
conn.close()

In [133]:
with engine.begin() as conn:
    result1 = conn.execute(
        'select User from user'
    ).fetchall()
    result2 = conn.execute(
        'select User from user where User = "jake"'
    ).fetchall()
    print(result1)
    print(result2)

[('debian-sys-maint',), ('jake',), ('mysql.infoschema',), ('mysql.session',), ('mysql.sys',), ('root',)]
[('jake',)]

In [126]:
conn = engine.connect()
conn.execute(
    'select User from user'
).fetchall()

[('debian-sys-maint',),
 ('jake',),
 ('mysql.infoschema',),
 ('mysql.session',),
 ('mysql.sys',),
 ('root',)]

### Table / Metadata / Reflection / DDL

In [164]:
from sqlalchemy import MetaData
from sqlalchemy import Table, Column
from sqlalchemy import Integer, String

metadata = MetaData()

user_table = Table(
    'user', metadata,
    Column('id', Integer, primary_key=True),
    Column('name', String(36)),
    Column('fullname', String(64)),
)

In [165]:
user_table.name
user_table.columns.keys()
name_col = user_table.columns.name
id_col = user_table.columns.id
fullname_col = user_table.columns.fullname

In [166]:
name_col.name
name_col.type
# name_col.table

String(length=36)

In [167]:
metadata.create_all(engine)

In [ ]:
from sqlalchemy import String, Numeric, DateTime, Enum

fancy_table = Table(
    'fancy', metadata,
    Column('key', String(50), primary_key=True),
    Column('timestamp', DateTime),
    Column('amount', Numeric(10,2)),
    Column('type', Enum('a','b','c')),
)

In [170]:
fancy_table.create(engine)

In [171]:
from sqlalchemy import ForeignKey

addresses_table = Table(
    'address', metadata,
    Column('id', Integer, primary_key=True),
    Column('email_addresse', String(100), nullable=False),
    Column('user_id', Integer, ForeignKey('user.id')),
)

In [172]:
addresses_table.create(engine)

In [174]:
from sqlalchemy import Unicode, UnicodeText, DateTime
from sqlalchemy import ForeignKeyConstraint

story_table = Table(
    'story', metadata,
    Column('story_id', Integer, primary_key=True),
    Column('version_id', Integer, primary_key=True),
    Column('headline', Unicode(100), nullable=False),
    Column('body', UnicodeText),
)

published_table = Table(
    'published', metadata,
    Column('pub_id', Integer, primary_key=True),
    Column('pub_timestamp', DateTime, nullable=False),
    Column('story_id', Integer),
    Column('version_id', Integer),
    ForeignKeyConstraint(
        ['story_id', 'version_id'],
        ['story.story_id', 'story.version_id'],
    ),
)

In [175]:
story_table.create(engine)
published_table.create(engine)

In [178]:
engine.execute(
    'describe published'
).fetchall()

[('pub_id', b'int', 'NO', 'PRI', None, 'auto_increment'),
 ('pub_timestamp', b'datetime', 'NO', '', None, ''),
 ('story_id', b'int', 'YES', 'MUL', None, ''),
 ('version_id', b'int', 'YES', '', None, '')]

In [179]:
from sqlalchemy import Integer, String, DateTime

network_table = Table(
    'network', metadata,
    Column('network_id', Integer, primary_key=True),
    Column('name', String(100), nullable=False),
    Column('created_at', DateTime, nullable=False),
    Column('owner_id', Integer, ForeignKey('user.id')),
)

In [180]:
metadata.create_all(engine)

### SQL Expressions

### Object Relational Mapping