In [2]:
import pandas as pd
import gdown
import os, pathlib

In [3]:
# from os import curdir


# os.path.abspath('~')
# os.path.abspath(curdir)
# os.getcwd()
# # os.chdir('./mysql-sqlalchemy/')

In [4]:
from sqlalchemy import create_engine
db_url = 'mysql+mysqlconnector://jake:0000@localhost:3306/test'
engine = create_engine(db_url, echo=True)

In [5]:
id = "1ezrEXQHP33SZEsBNxdJM6xqehJsjZ8JE"
output = "response_data.csv"
gdown.download(id=id, output=output, quiet=False)

Downloading...
From: https://drive.google.com/uc?id=1ezrEXQHP33SZEsBNxdJM6xqehJsjZ8JE
To: /home/jake/codes/mysql-sqlalchemy/response_data.csv
100%|██████████| 22.0M/22.0M [00:03<00:00, 7.06MB/s]

'response_data.csv'

In [6]:
df = pd.read_csv('response_data.csv')
df.head()

,context,response
0,"['participant 1: 아내가 드디어 출산하게 되어서 정말 신이 나.', '...",['좋은 아빠가 되실 거 같아요. 진심으로 축하드려요.']
1,['participant 1: 당뇨랑 합병증 때문에 먹어야 할 약이 열 가지가 넘어...,['약을 잘 챙겨 먹어 건강해지시길 바랄게요.']
2,['participant 1: 고등학교에 올라오니 중학교 때보다 수업이 갑자기 어려...,['열심히 해서 좋은 결과가 있었으면 좋겠어요.']
3,['participant 1: 재취업이 돼서 받게 된 첫 월급으로 온 가족이 외식을...,['계속 원하시는 대로 회사생활이 이어지길 바랄게요.']
4,['participant 1: 빚을 드디어 다 갚게 되어서 이제야 안도감이 들어.'...,['빚도 다 갚았으니 당분간은 아무 생각도 안 하며 살고 싶으시군요.']

In [7]:
# import sqlalchemy


# dtypesql = {
#     'context': sqlalchemy.types.TEXT(),
#     'response': sqlalchemy.types.TEXT()
# }

In [8]:
df.to_sql(name='chatbot', con=engine, if_exists='replace', index=False)
# engine.execute('set SQL_MODE="NO_AUTO_VALUE_ON_ZERO"
engine.execute('alter table chatbot add id INT primary key AUTO_INCREMENT')
# engine.execute('alter table chatbot AUTO_INCREMENT = 0')

# df.to_sql(name='chatbot', con=engine, if_exists='replace', index=False, dtype=dtypesql)

2022-07-22 11:38:33,453 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2022-07-22 11:38:33,455 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-07-22 11:38:33,465 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2022-07-22 11:38:33,466 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-07-22 11:38:33,470 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2022-07-22 11:38:33,473 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-07-22 11:38:33,483 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2022-07-22 11:38:33,485 INFO sqlalchemy.engine.Engine [generated in 0.00281s] {'table_schema': 'test', 'table_name': 'chatbot'}
2022-07-22 11:38:33,608 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-22 11:38:33,610 INFO sqlalchemy.engine.Engine
CREATE TABLE chatbot (
	context TEXT,
	response TEXT
)


2022-07-22 11:38:33,612 INFO sqlalchemy.engine.Engine [no key 0.00164s] {}
2022-07-22 11:38:33,835 INFO sqlalchemy.engine.Engine COMMIT
2022-07-22 11:38:33,849 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-22 11:38:34,094 INFO sqlalchemy.engine.Engine INSERT INTO chatbot (context, response) VALUES (%(context)s, %(response)s)
2022-07-22 11:38:34,095 INFO sqlalchemy.engine.Engine [generated in 0.20478s] ({'context': "['participant 1: 아내가 드디어 출산하게 되어서 정말 신이 나.', 'participant 2: 아내분이 출산을 하시는군요. 정말 축하드려요.', 'participant 1: 아 지금 정말 신이 나.', 'participant 2: 잘 된 일이네요.', 'participant 1: 아기가 점점 클게 벌써 기대가 되네. 내가 많이 놀아줘야지.']", 'response': "['좋은 아빠가 되실 거 같아요. 진심으로 축하드려요.']"}, {'context': "['participant 1: 당뇨랑 합병증 때문에 먹어야 할 약이 열 가지가 넘어가니까 스트레스야.', 'participant 2: 약 종류가 많아 번거로우시겠어요.', 'participant 1: 건강할 때 관리 좀 잘할걸 하는 생각이 들더라고.', 'participant 2: 현재 상황에서 변화를 주기 위해 어떻게 하면 될까요?', 'participant 1: 약을 잘 챙겨 먹고 나을 수 있도록 노력해야지.']", 'response': "['약을 잘 챙겨 먹어 건강해지시길 바랄게요.']"}, {'context': "['participant 1: 고등학교에 올라오니 중학교 때보다 수업이 갑자기 어려워져서 당황스러워.', 'participant 2: 고등학교 수업이 중학교 때와는 다르게 갑자기 어려워서 당황스러우시군요.', 'participant 1: 아직 학기 초인데 내가 수업에 ... (68 characters truncated) ... articipant 1: 중학교 수업을 들을 때보다 훨씬 더 열심히 할 거야.', 'participant 2: 수업을 어떤 방식으로 열심히 듣는게 좋을까요?', 'participant 1: 선생님이 강조하신 부분을 필기하고 집에서 매일 수업 내용을 복습하려고 해.']", 'response': "['열심히 해서 좋은 결과가 있었으면 좋겠어요.']"}, {'context': "['participant 1: 재취업이 돼서 받게 된 첫 월급으로 온 가족이 외식을 할 예정이야. 너무 행복해.', 'participant 2: 재취업 후 첫 월급이라 정말 기쁘시겠어요.', 'participant 1: 퇴직 후 다시는 돈을 못 벌 줄 알았는데 이렇게 월급으로 가족에게 맛있는 밥을 살 수 있어서 너무 행복해.', 'participant 2: 이 기분을 유지하려면 어떻게 해야 할까요?', 'participant 1: 회사생활을 열심히 해서 계속 월급을 받을거야!']", 'response': "['계속 원하시는 대로 회사생활이 이어지길 바랄게요.']"}, {'context': "['participant 1: 빚을 드디어 다 갚게 되어서 이제야 안도감이 들어.', 'participant 2: 기분 좋으시겠어요. 앞으로는 어떻게 하실 생각이신가요?', 'participant 1: 빚도 다 갚았으니 당분간은 아무 생각도 안 하며 살고 싶어.']", 'response': "['빚도 다 갚았으니 당분간은 아무 생각도 안 하며 살고 싶으시군요.']"}, {'context': "['participant 1: 이제 곧 은퇴할 시기가 되었어. 내가 먼저 은퇴를 하고 육 개월 후에 남편도 은퇴를 하고. 그러면 둘이 하루 종일 함께 있겠네. 생각만 해도 숨이 막혀.', 'participant 2: 그러시군요. 은퇴 후 남편분과 함께 집에 있을 생각 ... (113 characters truncated) ... 즐길 수라도 있을 텐데 말이지.', 'participant 2: 남편과 뭔가를 같이 해본 적이 없어서 걱정이 되시는군요. 남편분과 시간을 같이 보낼 수 있는 활동 중에 어떤 것을 하면 좋을까요?', 'participant 1: 함께 등산이나 여행을 갔으면 좋겠어.']", 'response': "['남편분과 함께 등산이나 여행을 가고 싶으시군요.']"}, {'context': "['participant 1: 사십 대에 접어들면서 머리카락이 많이 빠져 고민이야.', 'participant 2: 머리카락이 빠져서 걱정이 많으시겠어요.', 'participant 1: 이러다 대머리가 되지 않을까 걱정이야.', 'participant 2: 병원에서 진료는 받아보셨나요?', 'participant 1: 아직 병원 진료는 받지 않았고 탈모방지용 샴푸를 쓰고 있어.']", 'response': "['모발 건강을 위해 더 할 수 있는 일이 있을까요?']"}, {'context': "['participant 1: 이제 돈이라면 지긋지긋해.', 'participant 2: 무슨 일 있으셨나요?', 'participant 1: 나이가 예순이 넘으니 돈이 나갈 데도 많고 힘드네.']", 'response': "['돈이 나갈 곳이 많아 재정적으로 힘드시군요.']"}  ... displaying 10 of 40879 total bound parameter sets ...  {'context': "['participant 1: 이렇게 좋은 운동 시설에서 경로 우대로 운동할 수 있다니 참 행운이야.', 'participant 2: 운동 시설을 쓸 수 있어서 기분이 좋으시겠어요.', 'participant 1: 덕분에 건강도 챙길 수 있고 너무 좋아. 안마기도 있던데 내일은 운동하고 안마기도 써볼까?', 'participant 2: 운동할 때 안마기를 사용하면 어떻게 도움이 되나요?', 'participant 1: 운동으로 뭉친 근육을 풀어주는 것 같아. 그럼 덜 피로하겠지.']", 'response': "['안마기로 피로가 많이 풀리시길 바라요.']"}, {'context': "['participant 1: 친구 관계가 너무 힘들어. 베푸는 만큼 돌아오지 않는 것 같아.', 'participant 2: 많이 서운하셨겠어요. 친구들에게 서운함을 느꼈을 때 해결하는 방법이 있나요?', 'participant 1: 카페에 가서 대화하거나 같이 술 마시면서 이야기했던 것 같아.', 'participant 2: 대화로 문제를 해결해오셨던 거군요? 그렇다면 이번 일에는 어떻게 하실 예정인가요?', 'participant 1: 직접 서운한 감정을 친구에게 얘기하려고 해.']", 'response': "['이번에도 대화를 통해 불편한 마음을 풀려고 하시는군요.']"})
2022-07-22 11:38:40,400 INFO sqlalchemy.engine.Engine COMMIT
2022-07-22 11:38:40,524 INFO sqlalchemy.engine.Engine alter table chatbot add id INT primary key AUTO_INCREMENT
2022-07-22 11:38:40,525 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-07-22 11:38:48,056 INFO sqlalchemy.engine.Engine COMMIT

In [9]:
engine.execute('show tables').fetchall()

2022-07-22 11:38:52,577 INFO sqlalchemy.engine.Engine show tables
2022-07-22 11:38:52,581 INFO sqlalchemy.engine.Engine [raw sql] {}

[('chatbot',), ('employees',), ('users',)]

In [10]:
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session

Base = automap_base()
Base.prepare(engine, reflect=True)

2022-07-22 11:38:54,882 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `test`
2022-07-22 11:38:54,885 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-07-22 11:38:54,899 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `chatbot`
2022-07-22 11:38:54,900 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-07-22 11:38:54,906 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `employees`
2022-07-22 11:38:54,908 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-07-22 11:38:54,913 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `users`
2022-07-22 11:38:54,915 INFO sqlalchemy.engine.Engine [raw sql] {}

In [11]:
Base.classes.keys()

['chatbot', 'employees', 'users']

In [12]:
Chatbot = Base.classes.chatbot
session = Session(engine)

res = session.query(Chatbot.response)
res.count()
# select = res.get(1)
# select.classes

2022-07-22 11:38:59,830 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-22 11:38:59,840 INFO sqlalchemy.engine.Engine SELECT count(*) AS count_1
FROM (SELECT chatbot.response AS chatbot_response
FROM chatbot) AS anon_1
2022-07-22 11:38:59,841 INFO sqlalchemy.engine.Engine [generated in 0.00399s] {}

40879

In [18]:
session.query(Chatbot).get(2).response

2022-07-22 11:43:18,827 INFO sqlalchemy.engine.Engine SELECT chatbot.context AS chatbot_context, chatbot.response AS chatbot_response, chatbot.id AS chatbot_id
FROM chatbot
WHERE chatbot.id = %(pk_1)s
2022-07-22 11:43:18,831 INFO sqlalchemy.engine.Engine [cached since 257.4s ago] {'pk_1': 2}

"['약을 잘 챙겨 먹어 건강해지시길 바랄게요.']"

In [15]:
from sqlalchemy import create_engine, MetaData, Table, Column, ForeignKey
from sqlalchemy.ext.automap import automap_base

db_url = 'mysql+mysqlconnector://jake:0000@localhost:3306/test'
engine = create_engine(db_url, echo=True)

# produce our own MetaData object
metadata = MetaData()

# we can reflect it ourselves from a database, using options
# such as 'only' to limit what tables we look at...
metadata.reflect(engine)
# metadata.reflect(engine, only=['user', 'address'])

# ... or just define our own Table objects with it (or combine both)
# Table('user_order', metadata,
#                 Column('id', Integer, primary_key=True),
#                 Column('user_id', ForeignKey('user.id'))
#             )

# we can then produce a set of mappings from this MetaData.
Base = automap_base(metadata=metadata)

# calling prepare() just sets up mapped classes and relationships.
Base.prepare()

# mapped classes are ready
# User, Address, Order = Base.classes.user, Base.classes.address,\
#     Base.classes.user_order

2022-07-22 11:39:07,021 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2022-07-22 11:39:07,022 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-07-22 11:39:07,025 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2022-07-22 11:39:07,026 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-07-22 11:39:07,028 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2022-07-22 11:39:07,030 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-07-22 11:39:07,034 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `test`
2022-07-22 11:39:07,035 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-07-22 11:39:07,051 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `chatbot`
2022-07-22 11:39:07,053 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-07-22 11:39:07,059 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `employees`
2022-07-22 11:39:07,060 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-07-22 11:39:07,064 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `users`
2022-07-22 11:39:07,065 INFO sqlalchemy.engine.Engine [raw sql] {}

['chatbot', 'employees', 'users']