In [1]:
from sqlalchemy import create_engine

# DB_URL = f"mysql+mysqlconnector://{db['user']}:{db['password']}@{db['host']}:{db['port']}/{db['database']}?charset=utf8"

engine = create_engine('mysql+mysqlconnector://jake:0000@localhost:3306/test', echo=True)

In [2]:
from sqlalchemy.orm import declarative_base

Base = declarative_base()

In [3]:
from sqlalchemy import Column, Integer, String
class User(Base):
    __tablename__ = 'users'
    id = Column(Integer, primary_key=True)
    name = Column(String(30))
    fullname = Column(String(30))
    nickname = Column(String(30))
    def __repr__(self):
       return "<User(name='%s', fullname='%s', nickname='%s')>" % (
                            self.name, self.fullname, self.nickname)

In [4]:
from sqlalchemy import Column, Integer, String
class Employee(Base):
    __tablename__ = 'employees'
    id = Column(Integer, primary_key=True)
    name = Column(String(30))
    fullname = Column(String(30))
    title = Column(String(30))
    def __repr__(self):
       return "<Employee(name='%s', fullname='%s', title='%s')>" % (
                            self.name, self.fullname, self.title)

In [5]:
Base.metadata.create_all(engine)

2022-07-21 17:51:10,302 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2022-07-21 17:51:10,303 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-07-21 17:51:10,306 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2022-07-21 17:51:10,307 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-07-21 17:51:10,309 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2022-07-21 17:51:10,311 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-07-21 17:51:10,316 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-21 17:51:10,320 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2022-07-21 17:51:10,321 INFO sqlalchemy.engine.Engine [generated in 0.00189s] {'table_schema': 'test', 'table_name': 'users'}
2022-07-21 17:51:10,328 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2022-07-21 17:51:10,330 INFO sqlalchemy.engine.Engine [cached since 0.01098s ago] {'table_schema': 'test', 'table_name': 'employees'}
2022-07-21 17:51:10,335 INFO sqlalchemy.engine.Engine COMMIT

In [6]:
from sqlalchemy.orm import sessionmaker
Session = sessionmaker(bind=engine)
session = Session()

In [7]:
ed_user = User(name='ed', fullname='Ed Jones', nickname='edsnickname')
session.add(ed_user)

session.add_all([
    User(name='wendy', fullname='Wendy Williams', nickname='windy'),
    User(name='mary', fullname='Mary Contrary', nickname='mary'),
    User(name='fred', fullname='Fred Flintstone', nickname='freddy')])

In [8]:
ed_emp = Employee(name='teddy', fullname='Teddy Jones', title='seller')
session.add(ed_emp)

session.add_all([
    Employee(name='chris', fullname='Chris Williams', title='seller'),
    Employee(name='john', fullname='John Contrary', title='receptionist'),
    Employee(name='ben', fullname='Ben Flintstone', title='manager')])

In [9]:
session.query(User).all()

2022-07-21 17:51:12,454 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-21 17:51:12,461 INFO sqlalchemy.engine.Engine INSERT INTO employees (name, fullname, title) VALUES (%(name)s, %(fullname)s, %(title)s)
2022-07-21 17:51:12,462 INFO sqlalchemy.engine.Engine [generated in 0.00227s] {'name': 'teddy', 'fullname': 'Teddy Jones', 'title': 'seller'}
2022-07-21 17:51:12,467 INFO sqlalchemy.engine.Engine INSERT INTO employees (name, fullname, title) VALUES (%(name)s, %(fullname)s, %(title)s)
2022-07-21 17:51:12,469 INFO sqlalchemy.engine.Engine [cached since 0.009212s ago] {'name': 'chris', 'fullname': 'Chris Williams', 'title': 'seller'}
2022-07-21 17:51:12,473 INFO sqlalchemy.engine.Engine INSERT INTO employees (name, fullname, title) VALUES (%(name)s, %(fullname)s, %(title)s)
2022-07-21 17:51:12,475 INFO sqlalchemy.engine.Engine [cached since 0.01471s ago] {'name': 'john', 'fullname': 'John Contrary', 'title': 'receptionist'}
2022-07-21 17:51:12,478 INFO sqlalchemy.engine.Engine INSERT INTO employees (name, fullname, title) VALUES (%(name)s, %(fullname)s, %(title)s)
2022-07-21 17:51:12,479 INFO sqlalchemy.engine.Engine [cached since 0.01914s ago] {'name': 'ben', 'fullname': 'Ben Flintstone', 'title': 'manager'}
2022-07-21 17:51:12,484 INFO sqlalchemy.engine.Engine INSERT INTO users (name, fullname, nickname) VALUES (%(name)s, %(fullname)s, %(nickname)s)
2022-07-21 17:51:12,486 INFO sqlalchemy.engine.Engine [generated in 0.00230s] {'name': 'ed', 'fullname': 'Ed Jones', 'nickname': 'edsnickname'}
2022-07-21 17:51:12,490 INFO sqlalchemy.engine.Engine INSERT INTO users (name, fullname, nickname) VALUES (%(name)s, %(fullname)s, %(nickname)s)
2022-07-21 17:51:12,492 INFO sqlalchemy.engine.Engine [cached since 0.008361s ago] {'name': 'wendy', 'fullname': 'Wendy Williams', 'nickname': 'windy'}
2022-07-21 17:51:12,494 INFO sqlalchemy.engine.Engine INSERT INTO users (name, fullname, nickname) VALUES (%(name)s, %(fullname)s, %(nickname)s)
2022-07-21 17:51:12,495 INFO sqlalchemy.engine.Engine [cached since 0.01223s ago] {'name': 'mary', 'fullname': 'Mary Contrary', 'nickname': 'mary'}
2022-07-21 17:51:12,498 INFO sqlalchemy.engine.Engine INSERT INTO users (name, fullname, nickname) VALUES (%(name)s, %(fullname)s, %(nickname)s)
2022-07-21 17:51:12,499 INFO sqlalchemy.engine.Engine [cached since 0.01611s ago] {'name': 'fred', 'fullname': 'Fred Flintstone', 'nickname': 'freddy'}
2022-07-21 17:51:12,504 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.nickname AS users_nickname
FROM users
2022-07-21 17:51:12,506 INFO sqlalchemy.engine.Engine [generated in 0.00145s] {}

[<User(name='ed', fullname='Ed Jones', nickname='edsnickname')>,
 <User(name='wendy', fullname='Wendy Williams', nickname='windy')>,
 <User(name='mary', fullname='Mary Contrary', nickname='mary')>,
 <User(name='fred', fullname='Fred Flintstone', nickname='freddy')>]

In [10]:
session.query(Employee).all()

2022-07-21 17:51:15,167 INFO sqlalchemy.engine.Engine SELECT employees.id AS employees_id, employees.name AS employees_name, employees.fullname AS employees_fullname, employees.title AS employees_title
FROM employees
2022-07-21 17:51:15,170 INFO sqlalchemy.engine.Engine [generated in 0.00372s] {}

[<Employee(name='teddy', fullname='Teddy Jones', title='seller')>,
 <Employee(name='chris', fullname='Chris Williams', title='seller')>,
 <Employee(name='john', fullname='John Contrary', title='receptionist')>,
 <Employee(name='ben', fullname='Ben Flintstone', title='manager')>]

In [11]:
session.query(User, Employee).all()

2022-07-21 17:51:19,867 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.nickname AS users_nickname, employees.id AS employees_id, employees.name AS employees_name, employees.fullname AS employees_fullname, employees.title AS employees_title
FROM users, employees
2022-07-21 17:51:19,870 INFO sqlalchemy.engine.Engine [generated in 0.00295s] {}

/tmp/ipykernel_20338/3332890545.py:1: SAWarning: SELECT statement has a cartesian product between FROM element(s) "employees" and FROM element "users".  Apply join condition(s) between each element to resolve.
  session.query(User, Employee).all()

[(<User(name='ed', fullname='Ed Jones', nickname='edsnickname')>, <Employee(name='ben', fullname='Ben Flintstone', title='manager')>),
 (<User(name='ed', fullname='Ed Jones', nickname='edsnickname')>, <Employee(name='john', fullname='John Contrary', title='receptionist')>),
 (<User(name='ed', fullname='Ed Jones', nickname='edsnickname')>, <Employee(name='chris', fullname='Chris Williams', title='seller')>),
 (<User(name='ed', fullname='Ed Jones', nickname='edsnickname')>, <Employee(name='teddy', fullname='Teddy Jones', title='seller')>),
 (<User(name='wendy', fullname='Wendy Williams', nickname='windy')>, <Employee(name='ben', fullname='Ben Flintstone', title='manager')>),
 (<User(name='wendy', fullname='Wendy Williams', nickname='windy')>, <Employee(name='john', fullname='John Contrary', title='receptionist')>),
 (<User(name='wendy', fullname='Wendy Williams', nickname='windy')>, <Employee(name='chris', fullname='Chris Williams', title='seller')>),
 (<User(name='wendy', fullname='Wendy Williams', nickname='windy')>, <Employee(name='teddy', fullname='Teddy Jones', title='seller')>),
 (<User(name='mary', fullname='Mary Contrary', nickname='mary')>, <Employee(name='ben', fullname='Ben Flintstone', title='manager')>),
 (<User(name='mary', fullname='Mary Contrary', nickname='mary')>, <Employee(name='john', fullname='John Contrary', title='receptionist')>),
 (<User(name='mary', fullname='Mary Contrary', nickname='mary')>, <Employee(name='chris', fullname='Chris Williams', title='seller')>),
 (<User(name='mary', fullname='Mary Contrary', nickname='mary')>, <Employee(name='teddy', fullname='Teddy Jones', title='seller')>),
 (<User(name='fred', fullname='Fred Flintstone', nickname='freddy')>, <Employee(name='ben', fullname='Ben Flintstone', title='manager')>),
 (<User(name='fred', fullname='Fred Flintstone', nickname='freddy')>, <Employee(name='john', fullname='John Contrary', title='receptionist')>),
 (<User(name='fred', fullname='Fred Flintstone', nickname='freddy')>, <Employee(name='chris', fullname='Chris Williams', title='seller')>),
 (<User(name='fred', fullname='Fred Flintstone', nickname='freddy')>, <Employee(name='teddy', fullname='Teddy Jones', title='seller')>)]

In [21]:
session.query(User).order_by(User.id).all()

2022-07-21 17:40:27,192 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.nickname AS users_nickname
FROM users ORDER BY users.id
2022-07-21 17:40:27,195 INFO sqlalchemy.engine.Engine [cached since 34.84s ago] {}

[<User(name='ed', fullname='Ed Jones', nickname='edsnickname')>,
 <User(name='wendy', fullname='Wendy Williams', nickname='windy')>,
 <User(name='mary', fullname='Mary Contrary', nickname='mary')>,
 <User(name='fred', fullname='Fred Flintstone', nickname='freddy')>]

In [18]:
for instance in session.query(User).order_by(User.id):
    print(instance.name, instance.fullname)

2022-07-21 17:39:52,354 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.nickname AS users_nickname
FROM users ORDER BY users.id
2022-07-21 17:39:52,359 INFO sqlalchemy.engine.Engine [generated in 0.00483s] {}
ed Ed Jones
wendy Wendy Williams
mary Mary Contrary
fred Fred Flintstone

In [23]:
session.query(User.id).all()

2022-07-21 17:41:53,713 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id
FROM users
2022-07-21 17:41:53,715 INFO sqlalchemy.engine.Engine [cached since 37.63s ago] {}

[(1,), (2,), (3,), (4,)]